<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yiyin.aobosh">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.GlobalParameterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.HomepageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.LoginSucessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.ForgetPasswordActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.ForgetPasswordActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.ForgetPwdSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.RegisterActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.RegisterActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.login.RegisterSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.ChangeMobileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.VipServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.VipCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.CollectLessonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.CollectTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.OauthHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.mine.UserInfoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>