<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yiyin.aobosh"
          android:versionCode="101"
          android:versionName="1.01">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.GlobalParameterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.activitys.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activitys.HomepageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.LoginSucessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.ForgetPasswordActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.ForgetPasswordActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.ForgetPwdSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.RegisterActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.RegisterActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.login.RegisterSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.ChangeMobileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.VipServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.VipCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.CollectLessonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.CollectTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.OauthHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.CouponActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.UserInfoSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.ChangeMoileSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.ChangePassworSuccessdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.mine.VipCardSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.yiyinClassroom.AllClassActivity"
            android:screenOrientation="portrait"/>
        <!--<activity-->
            <!--android:name=".UI.activitys.yiyinClassroom.VideoActivity"-->
            <!--android:screenOrientation="portrait"/>-->
        <activity
            android:name=".UI.activitys.yiyinClassroom.LessonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.yiyinClassroom.TeacherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.yiyinClassroom.TeacherWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.pay.CeatOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.activitys.pay.PayOrderActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="42"/>
            </intent-filter>
        </activity>

    </application>

</manifest>